<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" /> 
    <script type="text/javascript" src="/javascripts/gears_init.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/json-template.js"></script>
    <script type="text/javascript" src="/javascripts/sync.js"></script>
    <script type="text/javascript" src="/javascripts/template.js"></script>
    <script type="text/javascript" src="/javascripts/pretty_json.js"></script>

<script>
$(function() {
    console.info("Page Loaded");
    window.db = create_synckit();
    
    // var endpoint = 'http://localhost:3000/cached/item.js';
    // var state = window.db.get_state();
    
    var state = '{"Messages":{"max":"2009-10-04 03:30"},"Tags":{"items":[1,2,3,4]}}';
    var endpoint = "http://localhost:8000/email/inbox";

    var params = {"queries":state};    
    var dataspec = {
       "songs":"SELECT * FROM Songs;"
    };
    
    var template = "<div>{# This is a comment and will be removed from the output.}{.section songs}<h2>Songs</h2><table width='100%'>{.repeated section @}<tr><td><a href='url'>Play</a><td><i>{title}</i></td><td>{artist}</td></tr>{.end}</table>{.or}<p><em>(No page content matches)</em></p>{.end}</div>";
    
    $.post(endpoint, params, function(data) {
        alert(data);
        window.db.bulkload(data);
        var data = window.db.process_data_spec(dataspec);
        $('#templated').template(template);
        $('#templated').templateData(data);
        $('#templated').render();
    }, "json");
    
});
</script>
</head>
<body>
<div id="loading">
    <button onclick="window.db.reset();">Reset DB</button><button onclick="window.db.dump();">Dump DB</button>
</div>
<div id="debug">
    sd
</div>
<div id="templated">
</div>
</body>

</html>
