<html>
<head>
</head>
<body>
<section data-source="JS:posts" data-result="Post">

<article itemscope itemtype="Post">
	<h2 itemprop="title">This is the title</h2>
	<div itemprop="body">This is the body</div>
</article>

</section>

</body>
</html>

