body {
    background-color: #ccccff;
}

body {
    margin: 40px 50px 50px;
}

div#loading {
        position:absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 25px;
        text-align: center;
        font-weight: bold;
        background-color: #FFFFCC;
        border-bottom: 1px dashed #ccc;
        color: #333;
        padding-top: 4px;
}